//
//  Secrets.xcconfig
//  NetWork
//
//  Created by Rezka Yuspi on 2/5/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
GOOGLE_API_KEY = AIzaSyCblwLOM43yJzMPHs9sCaiCPeyxk6IwlYI
