<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAx7LVw86Yb0X7_i4-KBYoSBDEOh502kQs</string>
	<key>GCM_SENDER_ID</key>
	<string>915338488650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rezka.NetWork</string>
	<key>PROJECT_ID</key>
	<string>network-362fe</string>
	<key>STORAGE_BUCKET</key>
	<string>network-362fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915338488650:ios:bc11ae5bf4517f42356fb3</string>
</dict>
</plist>